* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

main {
  margin-top: 5vw;
  height: 50vh;
  width: 50vw;
  border-radius: 2vw;
  background: slateblue;
}

.input {
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border: none;
  outline: none;

  font-weight: 100;
  font-size: 1.5rem;

  height: 8vh;
  width: 100%;
  padding: 0 2vw;

  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3);

  transition-duration: 0.25s;
}

.input:hover {
  background: rgba(255, 255, 255, 0.5);
}

.input:focus {
  background: white;
  color: slateblue;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.weather {
  padding: 2vw;
  text-align: center;
  color: #cecece;
}

.weather-display {
  width: 100%;
  height: 24vh;
}
